<div>
    <ul>
        {{#each products}}
        <li>
            <p>nombre :{{this.title}}</p>
            <p>Descripcion :{{this.description}}</p>
            <p>Precio :{{this.price}}</p>
            <p>Stock :{{this.stock}}</p>
        </li>
        {{/each}}
    </ul>
</div>