<div>
    <h2>Productos en tiempo real:</h2>
    <ul id="realTime">
        {{!-- para completar en tiempo real --}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>